
table{    
border: 1px solid;
border-collapse: collapse;
}
td, th {
    border-left: 1px solid;
    border-top: 1px solid;
}
th{
    background-color: lightblue;
    font: bold;
}
label{
    width: 350px;
    display: inline-block;
    
}